
.contacts {
    display: none;
    @include tablet {
        margin-left: auto;
        max-width: 138px;
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    @include desktop {
        gap: 30px;
        max-width: none;
    }
}

.contacts__item {
    @include font (500, 12px, calc(14/12), 0.02em);
    color: var(--text-color);
    background-color: var(--background-color);
    @include desktop {
        @include font (500, 14px, calc(16/14), null)
    }
}

.contacts__text {
    text-decoration: none;
    color: var(--text-color);
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__text:hover,
.contacts__text:focus {
    color: var(--accent-color);
}



.contacts__icon {
    width: 14px;
    height: 14px;
    fill: var(--text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include desktop {
        width: 16px;
        height: 16px;
    }
}

.contacts__text:hover .contacts__icon,
.contacts__text:focus .contacts__icon {
    fill: var(--accent-color);
}