.footer {
    padding: 60px 0;
    background: var(--fon-color);
}
.basement {
    display: flex;
    align-items: baseline;
    text-align: center;
    @include mobile {
    flex-direction: column;
    align-items: center;
    }
    @include tablet {
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 60px;
    }
    @include desktop {
        text-align: left;
        justify-content: space-between;display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
}