.footer {
    padding: 60px 0;
    background: var(--fon-color);
}
.basement {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}