.menu-open-btn {
    border: none;
    padding: 0;
    margin-left: auto;
    background-color: var(--background-color);
    @include tablet {
        display: none;
    }
}
.icon-menu-btn {
    padding: 0;
}