.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (min-width: 480px) {
        max-width: 480px;   
    }
    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.nav__list,
.contacts,
.specifics__list,
.ocupation__list,
.team__list,
.address__list,
.filtr__item,
.project__item,
.location__item,
.list {
    list-style: none;
}

.body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--title-color);
    background-color: var(--background-color);
}

ul {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h2 {
    margin: 0px;
}

p {
    margin: 0px;
}