:root {
    --title-color: #212121;
    --hero-color: #ffffff;
    --background-color: #ffffff;
    --fon-color: #2f303a;
    --accent-color: #2196f3;
    --text-color: #757575;
    --addres-text: rgba(255, 255, 255, 0.6);
    --background-button: #f5f4fa;
    --background-team: #f5f4fa;
    --border-color: #eeeeee;
    --header-line: #ececec;
    --icon-color: #afb1b8;
    --hover-blue: #188CE8;
}